## Visual Studio / .NET
.vs/
.vscode/
*.user
*.suo

## Build folders
bin/
obj/
Debug/
Release/
**/obj/Debug/
**/obj/Release/

## NuGet
*.nupkg
packages/

## Rider
.idea/

## ASP.NET / app settings
appsettings.Development.json
appsettings.Production.json
appsettings.*.local.json
appsettings.json
secrets.json

## Entity Framework local DB
*.db
*.mdf

## Node
node_modules/
dist/

## Logs
*.log

## Environment variables
.env
.env.example